html, body{
    margin:0 auto;
    padding:0;
    font-size:67.5%;
}

body{
    box-sizing:border-box;
    margin:0 auto;
    width:13%;
    height:20%;
    text-align:center;
    font-family:sans-serif;
}

#calc{
    margin-top:50%;
    width:30em;
    height:23em;
    padding:3em;
    display:block;
    border-radius:.9em;
    background-color:olivedrab;
    box-shadow: 10px 10px 5px #888888;
}

.button{
    
    width:3em;
    height:3em;
    margin:0 auto;
    font-size:1.5em;
    padding:.5em;
    border-style:solid;
    background-color:lightblue;
    box-shadow:5px 5px 5px #888888;
    display:block;
    
}
#one_three{
    
    float:left;
    margin:1.3em;
    display:block;
    border-style:dotted solid blue 2%;
    
}
#plus_minus{
    
    float:right;
    margin:1.3em;
    
}
#three_four{
    
    margin:1.3em;
    display:block;
    border-style:dotted solid blue 2%;
    
}
.equal{
    width:11em;
    height:3em;
    font-size:1.2em;
}






